<div class="toggle-group-container">
  <mat-button-toggle-group [(ngModel)]="displayedMonth">
    <mat-button-toggle *ngFor="let month of months" [value]="month">{{
      monthToDate(month, displayedYear) | date: "MMM"
    }}</mat-button-toggle>
  </mat-button-toggle-group>
</div>

<div class="days-container">
  <ng-container *ngFor="let day of calendarMonth(displayedYear, displayedMonth)">
    <mat-card *ngIf="hasChore(day)" class="tasks-container">
      <mat-card-content>
        <mat-selection-list #tasks>
          <div mat-subheader>
            {{ day | date: "dd MMM yy" }}
          </div>
          <ng-container *ngFor="let chore of dayChores(day)">
            <mat-list-option>
              {{ chore.name }}
            </mat-list-option>
          </ng-container>
        </mat-selection-list>
      </mat-card-content>
      <p class="tasks-counter">
        Tasks completed: {{ tasks.selectedOptions.selected.length }} / {{dayChores(day).length}}
      </p>
    </mat-card>
  </ng-container>
</div>
