<div class="toggle-group-container">
  <mat-button-toggle-group [(ngModel)]="displayedMonth">
    <mat-button-toggle *ngFor="let month of months" [value]="month">{{
      monthToDate(month, displayedYear) | date: "MMM"
      }}</mat-button-toggle>
  </mat-button-toggle-group>
</div>

<div class="days-container">
  <ng-container *ngFor="let day of calendarMonth(displayedYear, displayedMonth)">
    <mat-card *ngIf="hasChore(day)" class="tasks-container">
      <mat-card-content>
        <mat-selection-list #tasks>
          <div mat-subheader>
            {{ day | date: "EEEE, dd MMM yy" }}
          </div>
          <ng-container *ngFor="let chore of dayChores(day)">
            <mat-list-option>
              {{ chore.name }}
            </mat-list-option>
          </ng-container>
        </mat-selection-list>
      </mat-card-content>
      <p class="tasks-counter">
        Tasks completed: {{ tasks.selectedOptions.selected.length }} / {{dayChores(day).length}}
      </p>
    </mat-card>
  </ng-container>
</div>

<ng-container style="margin-left: 10px;">
  <div *ngIf="!showAll; else allC"><u style="cursor: pointer;" (click)="showAll = !showAll">Show all</u></div>
</ng-container>

<ng-template #allC>
  <div *ngIf="showAll"><u style="cursor: pointer;" (click)="showAll = !showAll">Hide</u></div>
  <div *ngFor="let chore of chores">
    <h2>{{chore.name}}</h2>
    <ul>
      <li *ngFor="let cdate of chore.executionDates">{{cdate | date: "EEEE, dd MMM yy" }}</li>
    </ul>
  </div>
</ng-template>